@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);


a{
    text-decoration: none;
}

p{
    font-size: 2em;
}

header{
    background: black;
}


body{
    width: 100%;
    margin: auto;
    background: url(Contact-us-background[1].jpg) no-repeat;
    background-size: cover;
    font-family: "Montserrat","Arial",sans-serif;
}

img {
    width: 10em;
    height: 12em;
    float: left;
    border-radius: 100%;
    display: inline-block;
}

ul {
    text-align: center;
    width: 100%;
    margin-top: 13em;
    z-index: 1000;
    background: black;
    height: 4em;
    position: fixed;
}

span {
    padding-right: 7em;
}

footer{
    width: 100%;
    height: 3em;
    top:3em;
    margin: auto;
    font-weight: bold;
}

.menu{
    display: inline-block;
    margin-right: 1.5em;
    margin-top: 2em; 
}

.linkToAnchor {
    color: white;
    font-size: 1.5em;
}

.linkToAnchor:hover {
    color: darkviolet;
}

.info {
    display: inline-block;
    margin-top: 3.5em;
    font-size: 1.5em;
    margin-right: 2em;
}

.projectLink{
font-size: 1.5em;
color: darkgreen;
}

h4,
.linkToAuthor {
    display: inline-block;
}


.linkToAuthor{
    margin-right: 2em;
}

.link {
    color: black;
}

.link:hover, .projectLink:hover {
    color: mediumvioletred;
}

.allInfo, .name{
  width: 50%;
  margin: auto;
}

.footerInfo{
width: 50%;
margin: auto;
}

.linksForInfo{
  background: gray;  
}

.nameSurname{
    color: white;
    margin-left: 1.6em;
}

.sectionOfName{
    display: inline-block;
    margin-top: 1.2em;
    font-size: 1.5em;
    margin-right: 2em;
}

.descriptionOfName{
     color: white;
     font-size: 0.8em;
     margin-left: 5em;
}